<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="Suite1" parallel="methods">
    <test name="test1" thread-count="4">
        <classes>
            <class name="tools.BatteryLifeTest"/>
            <class name="tools.CrashTest"/>
        </classes>
    </test>
    <test name="test2" thread-count="2">
        <classes>
            <class name="tools.WaterproofTest"/>
            <class name="tools.FakeRestApiUserTests"/>
        </classes>
    </test>
   </suite>
